---
layout: default
disqus: false
archive: false
post_class: post-template
---
<script type="text/javascript">
{% include display.js %}
</script>

<!-- Begin Article
================================================== -->
<div class="container">
    <div class="row">

        <!-- Post -->
        {% assign author = site.authors[page.author] %}

        <div class="col-md-9 flex-first flex-md-unordered">
            <div class="mainheading">

                <!-- Post Title -->
                <h1 class="posttitle">{{ page.title }}</h1>

            </div>


            <!-- Prev/Next -->
            <div class="row PageNavigation d-flex justify-content-between font-weight-bold">
            {% if page.previous.url %}
            <a class="prev d-block col-md-6" href="{{ site.baseurl }}/{{page.previous.url}}"> &laquo; {{page.previous.title}}</a>
            {% endif %}
            {% if page.next.url %}
            <a class="next d-block col-md-6 text-lg-right" href="{{ site.baseurl }}/{{page.next.url}}">{{page.next.title}} &raquo; </a>
            {% endif %}
            <div class="clearfix"></div>
            </div>
            <!-- End Categories -->


            <!-- Post Content -->
            <div class="article-post">

                <br />

                Comment ID: <span id="commentId"> </span> <br />



              <button id="prevBtn" class="btn btn-primary" onclick="nextPrev(-1)">Previous</button>
              <button class="btn btn-primary" id="nextBtn" onclick="nextPrev(1)">Next</button>

              <div id="commentSpace" markdown="1"> </div>
              <script>
                makeDisplay(`{{ site.data.or | where: 'comment_id', page.title |
                first| jsonify}}`);
              </script>

                {{content}}
            </div>

        </div>
        <!-- End Post -->

    </div>
</div>
<!-- End Article-->
